.overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    /* Initially hidden properties for the transition */
    visibility: hidden;
    opacity: 0;
    pointer-events: none; /* Crucial: prevent clicks when hidden */
    transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out; /* Transition both */
}

/* Class to apply when the popup should be visible */
.overlay.overlay-visible {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /* Enable clicks when visible */
}

.overlay.overlay-visible .popup {
    transform: scale(1);
    opacity: 1;
}

.code_input_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 1em;
}

.code_input_div input {
    height: 2em;
    width: 100%;
    background-color: #fff;
    border-color: rgb(0, 0, 0);
    color: #333;
    border-width: 1px;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 2px;

}

.code_input_div button {
    width: 50%;
    height: 2em;
}

#code_input:disabled {
    background-color: white;
    color:#333;
}

#code_scan_image,
#success_image,
#fail_image {
    height: 30%;
    width: 30%;
}

.unload_button_div,
.load_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unload_button_div button,
.load_button_div button {
    height: 2em;
    width: 75%;
    margin-top: 0.5em;;
}

/* Styles for the inner popup content box */

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

#popupExit:hover {
    cursor: pointer;
}

.popup h1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-block-start: .5em;
    margin-block-end: .25em;
    margin-inline-start: 0;
    margin-inline-end: 15px;
}

.popupUnload,
.popupLoad {
    margin: 30% auto; /* Good for centering in flex container */
    width: 40%;
    max-width: 375px;
    padding: 5px 20px;
    background: #fff;
    border-radius: 5px;
    position: relative; /* For the close button positioning */
    /* Add initial state for the inner box animation */
    transform: scale(0.9); /* Start slightly smaller */
    opacity: 0; /* Start invisible */
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out; /* Animate these properties */
}

.popupUnloadSelection,
.popupLoadSelection {
    margin: 20% auto;
    width: 60%;
    max-width: 450px;
    padding: 5px 20px 20px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

.popupSuccess,
.popupFail {
    margin: 20% auto;
    width: 60%;
    max-width: 450px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    transform: scale(0.9);
    /*opacity: 0;*/
    transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
}

.popup_unload_selection,
.popup_load_selection,
.popup_selection_success,
.popup_selection_fail {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.popup_unload_selection_header,
.popup_load_selection_header,
.popup_selection_success_header,
.popup_selection_fail_header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    border-bottom: 1px solid black;
}

.popup_selection_success_header {
    background-color: var(--success-primary-color);
}

.popup_selection_fail_header {
    background-color: var(--fail-primary-color);
}

.popup_unload_selection_header h5,
.popup_load_selection_header h5,
.popup_selection_success_header h5,
.popup_selection_fail_header h5 {
    margin: 1em 0 0.5em;
}

.popup_unload_selection_header h4,
.popup_load_selection_header h4,
.popup_selection_success_header h4,
.popup_selection_fail_header h4 {
    margin: 0 0 1em;
}

.popup_unload_selection_double_col,
.popup_load_selection_double_col,
.popup_selection_success_double_col,
.popup_selection_fail_double_col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2%;
}

.popup_unload_selection_body,
.popup_load_selection_body,
.popup_selection_success_body,
.popup_selection_fail_body {
    padding-top: 1.5em;
    background-color: var(--secondary-color);
}

.popup_selection_success_body {
    background-color: var(--success-pastel-color);
}

.popup_selection_fail_body {
    background-color: var(--fail-pastel-color);
}

.popup_load_conflict {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}
.popup_load_conflict div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-bottom: 1em;*/
}
.popup_load_conflict p {
    margin-block: 1em;
}
.popup_load_conflict img {
    max-width: 300px;
    max-height: 300px;
}

.popup_form {
    display: flex;
    flex-direction: column;
}
.popup_form button {
    height: 2em;
    padding: 0 2em;
    margin-bottom: 1em;
}

.popup_load_selection form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.popup_load_selection button {
    width: 50%;
}