label {
    font-size: 0.75em;
}

.warehouse_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 5%;
    padding: 1em 0;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}
.warehouse_div_button {
    margin: 1em 5%;
    width: 50%;
    height: 3em;
    max-width: 300px;
}

.mw_header {
    display: block;
    text-align: center;
    margin: 4% 20% 0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: var(--primary-color);
    color: white;
}
.mw_header_prompt,
.ul_dv_header_prompt {
    display: block;
    margin: 0;
    padding: 8px 0;
}

.umw_figure {
    display: flex;
    flex-direction: column;
    margin: 4% 20%;
    border: solid 1px var(--text-color);
    border-radius: 5px;
}

.umw_header {
    color: white;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--border-color);
}

.umw_body {
    padding: 2em 0 1.5em;
    background-color: var(--secondary-color);
}

#umw_barcode_image {
    height: 30%;
    width: 30%;
}

.umw_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
}

.umw_form input {
    height: 2em;
    width: 80%;
    background-color: #fff;
    border-color: rgb(0, 0, 0);
    color: #333;
    border-width: 1px;
    border-radius: 2px;
    text-align: center;
    margin: 1.5em 0 1em 0;
    letter-spacing: 2px;
}

.umw_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.umw_button_div button {
    height: 2em;
    width: 50%;
}

.umw_button_div button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.ul_dv_fig {
    margin: 0 4% 5%;
    border: solid 1px black;
    border-radius: 5px;
    background-color: #e0eaf3;
}

.ul_dv_header {
    border-bottom: 1px solid black;
    background-color: var(--primary-color);
    color: white;
}

#ul_dv_form {
    margin: 16px 0 0;
}

.ul_dv_input_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 25% 1em;
}

.ul_dv_input_wrapper label {
    display: flex;
    align-items: flex-start;
}

.ul_dv_input_wrapper input {
    height: 2em;
    width: 100%;
    background-color: white;
    color: var(--text-color);
    border: 1px solid black;
    border-radius: 5px;
    transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
}

.ul_dv_form .invalid_input {
    border: solid 1.5px red;
    border-radius: 3px; 
    background-color: #ffdddd;
    transition: border-color 0.3s ease-in, background-color 0.3s ease-in;
}

#dv_confirm_button {
    margin: 0 5% 1em;
    width: 30%;
    height: 2em;
}

.mw_aria_ff {
    width: auto;
    overflow: visible;
    position: absolute;
    background-color: var(--fail-pastel-color);
    color: var(--fail-primary-color);
    /*border: 1px solid var(--fail-primary-color);*/
    border-radius: 4px;
    padding: 10px 4px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 4px 6px var(--box-shadow);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    pointer-events: none;

    /* anchor to bottom of parent div */
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
}
/*
.mw_aria_ff.pu {
    top: 47% !important;
}
.mw_aria_ff.date {
    top: 38.25% !important;
}*/

    .mw_aria_ff::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 35%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--fail-pastel-color) transparent;
        z-index: 9;
    }

    .mw_aria_ff.visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .mw_aria_ff p {
        margin: 0;
        font-size: small;
    }

.ff_input_wrapper {
    position: relative;
}

.date_input_wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.date_input_wrapper .calendar-icon {
    position: absolute;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    stroke: var(--widget-color);
}
.date_input_wrapper .calendar-icon:hover {
    stroke: var(--primary-color); /* Change color on hover */
}

#dv_confirm_button {
    cursor: pointer;
}

@media only screen and (min-width: 400px) {
    #widgetHeader,
    .ul_dv_fig {
        margin: 4% 10% 0;
    }
}

@media only screen and (min-width: 630px) {
    #widgetHeader,
    .ul_dv_fig {
        margin: 4% 20% 0;
    }

    #ul_dv_input_wrapper {
        padding: 0 30% 1em 30%;
    }

    label {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 900px) {
    #widgetHeader,
    .ul_dv_fig {
        margin: 4% 25% 0;
    }
}

@media only screen and (min-width: 1200px) {
    #widgetHeader {
        margin: 6% 20% 0;
    }
    
    .ul_dv_fig {
        margin: 6% 30% 0;
    }
}

@media only screen and (min-width: 1600px) {
    .ul_dv_fig {
        margin: 4% auto;
        max-width: var(--maxWidgetWidth);
    }
}