.warehouse_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 5%;
    padding: 1em 0;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    background-color: #e0eaf3;
}
    .warehouse_div button {
        margin: 1em 5%;
        width: 50%;
        height: 3em;
        max-width: 300px;
    }

.mw_header {
    display: block;
    text-align: center;
    margin: 4% 20% 0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 5px 5px 0 0;
    background-color: #5A89BB;
    color: white;
}

    .mw_header h4 {
        margin: 0;
    }

.prompt {
    display: block;
    padding: 8px 0;
}

.umw_figure {
    display: flex;
    flex-direction: column;
    margin: 4% 20%;
    border: solid 1px var(--text-color);
    border-radius: 5px;
}

.umw_header {
    color: white;
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--border-color);
}

.umw_body {
    padding: 2em 0 1.5em;
    background-color: var(--secondary-color);
}

#umw_barcode_image {
    height: 30%;
    width: 30%;
}

.umw_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;
}

.umw_form input {
    height: 2em;
    width: 80%;
    background-color: #fff;
    border-color: rgb(0, 0, 0);
    color: #333;
    border-width: 1px;
    border-radius: 2px;
    text-align: center;
    margin: 1.5em 0 1em 0;
    letter-spacing: 2px;
}

.umw_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.umw_button_div button {
    height: 2em;
    width: 50%;
}

.umw_button_div button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

@media only screen and (min-width: 630px) {
    #widgetHeader {
        margin: 4% 20% 0;
    }
}

@media only screen and (min-width: 1200px) {
    #widgetHeader {
        margin: 6% 20% 0 20%;
    }
}